/* Test comment */

* {
  box-sizing: border-box;
  
  /*-webkit-font-smoothing: antialiased;*/
}

p {
  /*-webkit-font-smoothing: antialiased;*/
  
  margin-top: 0px;
  margin-bottom: 0px;
}

html {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-family: 'Proxima Nova';*/

  font-family: 'ff-yoga-web-pro', Helvetica, Arial, sans-serif;
}

h1 {
  /*font-size: 25px;*/

  /*font-height: 40px;*/
  /*line-height: 1.2;*/
  /*line-height: 1.35;*/

  /*font-family: 'Proxima Nova Light';*/
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-weight: 300;*/
  /*font-variant: normal;*/

  font-family: 'ff-yoga-web-pro', Helvetica, Arial, sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  color: #222;

  margin-top: 0px;
  margin-bottom: 0px;
}

.postsList h1 {
  font-size: 28px;
}

h2 {
  font-size: 28px;
  margin-bottom: 34.5px;
  color: #222;
}

p {
  font-size: 23px;
  font-weight: normal;
  line-height: 34.5px;
  color: #313131;
  text-rendering: optimizeLegibility;
}

a {
  /*color: #2481b7;*/
  /*color: rgb(8, 166, 238);*/
  color: #43aea8;
  text-decoration: none;
}

.main {
  /*width: 640px;*/
  /*width: 960px;*/

  margin-left: auto;
  margin-right: auto;
  /*padding-top: 90px;*/

  min-height: 100%;

  position: relative;
}

.header {
  /*height: 54px;*/
  /*height: 70px;*/
  /*border-bottom: 1px solid #F5F5F5;*/
  border-bottom: 1px solid #e7e7e7;
  height: 68px; /* 18 + 32 + 18 */
  
  /*padding-top: 16px;*/
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;

  width: 100%;
  /*background-color: #fbf0d9;*/
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.header a {
  /*color: #B0BEC5;*/
  text-decoration: none;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-size: 13px;*/
  /*text-transform: uppercase;*/

  /*font-family: 'proxima-nova';*/
  font-family: 'Arbutus Slab', serif;
  font-size: 15px;
  font-size: 16.5px;
  font-weight: 600;
  /*color: #313131;*/
  color: #5b4636;
}

.header a.active {
  color: #000000;
}

.mainNav {
  float: right; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mainNav a:not(:last-child) {
  /*margin-right: 28px;*/
  margin-right: 40px;
}

.pageContentContainer {
  /*padding-top: 80px;*/
  padding-top: 32px;
  padding-bottom: 120px;
}

.post {
  margin-top: 38px;

  margin-left: auto;
  margin-right: auto;
  /*width: 560px;*/
  width: 704px;
}

/*.post:not(:first-child) {
  margin-top: 36px;
}*/

.postTitle a {
  color: #222;
}

.postDate {
  /*color: #999;*/
  /*color: #B9B9B9;
  text-transform: uppercase;
  margin-top: 8px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: rgb(136, 136, 136);*/

  font-family: 'ff-yoga-web-pro', Georgia, serif;
  font-size: 18.63px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.767px;
  color: #b1b2b2;

  margin-top: 16.6px;
}

.postContent {
  /*margin-top: 42px;*/
  margin-top: 26px;
  margin-bottom: 36px;
}

.postContent p {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  overflow-y: hidden;
  margin-top: 34.5px;
  margin-bottom: 34.5px;
  padding-left: 34.5px;
  padding-left: 34.5px;
}

code {
  font-family: Monaco, monospace;
  font-size: 16.6px;
  line-height: 1.5;
}

hr {
  margin-top: 21px;
  margin-bottom: 21px; 
  border: 0px;
  border-top: 1px solid #eee;
}

.footer {
  /*padding-top: 30px;
  padding-bottom: 30px;*/
  
  /*margin-top: 80px;*/
  /*margin-bottom: 20px;*/
  
  bottom: 0px;
  margin-bottom: 20px;

  width: 100%;
  position: absolute;

  text-align: center;
}

.footer p {
  font-size: 14px;
  
  color: rgb(195, 195, 195);
}

.fadeinUp {
    -webkit-animation: fadeInUp 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInUp 500ms ease-in-out;
}
 
/* Standard syntax */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

pre * {
  font-weight: normal !important;
}

blockquote {
  margin: 0px;

  /*border-left: 4px solid #ddd;*/
  border-left: 2px solid #b1b2b2;
  padding-left: 15px;
  
  /*font-style: italic;*/
}

blockquote p {
  /*color: #AAA;*/
  /*color: #b1b2b2;*/
}

 /* Borrowed from stopvisualpollution.com */

.social {
  float: right;
}

.twitter, .github {
  width: 18px;
  height: 18px;
  display: inline-block;
  
  background: #AAA;
  transition: background 0.5s;
  
  margin-left: 12px;
}

.twitter {
  /*background: #4099FF;*/
  -webkit-mask-box-image: url("/images/twitter.svg");
}

.twitter:hover {
  background: #4099FF;
}

.github {
  -webkit-mask-box-image: url("/images/mark-github.svg");
}

.github:hover {
  background: #000000;
}

.twitter-follow-button {
  float: right;
}

.profilePic {
  width: 80px;
  /*height: 80px;*/
  height: auto;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

hr {
  margin-top: 48px;
  margin-bottom: 48px;
}
