* {
  box-sizing: border-box;
}

html {
  font-family: 'proxima-nova';
  /*font-size: 62.5%;  https://developer.mozilla.org/en/docs/Web/CSS/font-size*/
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Use font sizes suggested by http://type-scale.com/ */
/* Select 1.200 - Minor Third as the scale */
h1 {
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
}

h1 {
  color: #121212;
}

h2 {
  color: #222;

  margin-top: 23px;
  margin-bottom: 34.5px;
}

h3 {
  color: #222;

  margin-top: 34.5px;
}

p, ul {
  font-weight: normal;
  line-height: 1.76;
  color: #313131;
}

p {
  margin-top: 1.2em;
}
p:nth-of-type(1) {
  margin-top: 0;
}

blockquote {
  padding-left: 15px;

  border-left: 2px solid #b1b2b2;
}

a {
  text-decoration: none;
  color: #0FACF3;
}

pre {
  margin-top: 34.5px;
  margin-bottom: 34.5px;
  padding-left: 34.5px;
  padding-left: 34.5px;

  overflow-y: hidden;
  overflow-x: auto;
}

code {
  font-family: Monaco, monospace;
  font-size: 13.2px;
  line-height: 1.5;
}

code span {
  font-weight: normal !important;
}

hr {
  margin-top: 48px;
  margin-bottom: 48px;
  border-top: 1px solid #eee;
}

#particles {
  position: absolute;
  top: 0px;
  height: 360px;
  width: 100%;
  z-index: -1;
  background: #604966;
}

.main {
  min-height: 100%;

  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*
Header
*/

.header {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 24px;
}

.header .title {
  display: block;
  float: left;
  margin-top: 6px;

  font-family: "proxima-nova-semibold";
  text-transform: uppercase;
  color: white;
  opacity: 1;
  font-size: 1.8rem;
}

.avatar {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;

  border-radius: 20px;
}

.header ul a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #666;
  font-weight: 700;
  font-family: "proxima-nova-light";
  text-transform: uppercase;
}

.header p {
  text-align: center;
  margin-top: 32px;

  font-size: 2rem;
  font-weight: 300;
  color: white;
  opacity: 0.9;
}

.social {
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.logo-text {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
  color: #121212;
  display: inline-block;
}

.top-nav ul {
  padding: 0px;
  list-style: none;
}

.top-nav li {
  position: relative;
  top: 50%;
  float: left;
}

.top-nav li:not(:last-child) {
  margin-right: 40px;
}

.page {
  margin-left: 20%;

  padding-top: 32px;
  padding-bottom: 32px;
}

.page ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.page-content, .post, .post-summary {
  margin-top: 38px;
}

.post-title a {
  color: #222;
}

.post-date {
  line-height: 1.6767rem;
  color: #3ABBF5;
}

.post-content {
  margin-top: 26px;
  margin-bottom: 36px;
}

.post-content p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.notice {
  line-height: 2;
  padding: 20px;
  border-radius: 2px;
  /* background-color: #FFD8B0; */
  background-color: #E9F4FB;

  display: flex;
  justify-content: center;
}

.notice-icon {
  margin-top: 8px;
  margin-right: 16px;

  /* color: #A28A72; */
  color: #819FB0;
}
