* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  max-width: 768px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none !important;
}

pre {
  background-color: #FCFCFC !important;
  color: rgb(55, 65, 81) !important;
}

code span {
  font-weight: normal !important;
}

hr {
  margin-top: 48px;
  margin-bottom: 48px;
  border-top: 1px solid #eee;
}

a, .article-date {
  color: #FF3130 !important;
}

.article-content {
  text-align: justify;
  overflow-wrap: break-word;
}
