<html>
  {{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}

    <div class="container px-4 mt-12 prose prose-lg">
      <h1>Jots</h1>
      <div>
        {{ range where .Site.RegularPages "Type" "jots" }}
          {{ if ne .Draft true }}
            <div class="article-summary">
              <h3><a style="color: #000000 !important;" href="{{ .Permalink }}">{{ .Title }}</a></h1>
              {{ partial "posts/date.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

    {{ partial "footer.html" . }}

    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script>
  </body>
</html>
