<html>
  {{ partial "head.html" . }}

  <body class="flex flex-col" style="min-height: 100vh;">
    {{ partial "header.html" . }}

    <div class="container mx-auto px-4 mt-8 prose sm:prose-lg max-w-none" style="flex: 1">
      <h1 class="text-center" style="margin-bottom: 0;">Jots</h1>

      <h4 class="text-center font-normal" style="margin-top: 1rem;">Notes, tips & tricks that are too small to be blog posts</h2>

      <div class="border-t border-gray-200" style="margin-top: 2rem;"></div>

      <div class="text-center">
        {{ range where .Site.RegularPages "Type" "jots" }}
          {{ if ne .Draft true }}
            <div>
              <h2 class="text-2xl sm:text-3xl" style="margin-bottom: 0px;">
                <a class="font-bold" style="color: #000000 !important;" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h3>
              {{ partial "posts/date.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
