<html>
  {{ partial "head.html" . }}

  <body>
    <div class="main">
      {{ partial "header.html" . }}

      <div class="postsContainer fadeInUp">
        {{ $pagesCount := len .Data.Pages }}
        {{ range $index, $page := .Data.Pages }}
          <div class="post">
            <h1 class="postTitle"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

            <p class="postDate">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>

            <!-- <div class="postContent">{{ .Content }}</div> -->
          </div>

          {{ if lt (add $index 1) $pagesCount }}
            <!-- <hr> -->
          {{ end }}
        {{ end }}
      </div>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
