<head>
  <title>Nisanth's Blog</title>
  <link rel="shortcut icon" href="/favicon-a409055.ico">

  <!-- Add stylesheets -->

  <!-- Fonts -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/vendor/fonts.css">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/reset.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/animations.css">

  <!-- Syntax highlighting -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/pygments-github.css">
</head>
