<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Nisanth Chunduru</title>
  <link rel="shortcut icon" href="/images/logo.svg">

  <!-- <link rel="stylesheet" href="/css/vendor/fonts.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/tailwind.compiled.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/pygments-github.css">

  <meta name="google-site-verification" content="CIGnBZCqH2WX_UMtk5WQP3UJg6UIk_2HNNlBAnLFatA" />
</head>
