<div class="frame">
  <div class="header bit-60">
    <nav class="top-nav bit-100">
      <a class="logo" href="/"><h1 class="logo-text">NC</h1></a>
      <ul>
        <li>
          <a href="/about">About Me</a>
        </li>
        <li>
          <a href="/content-i-like">Content I like</a>
        </li>
        <li>
          <a href="https://github.com/nisanthchunduru/nisanthchunduru.github.io" target="_blank">
            Source Code
            <i style="height: 13px; width: 13px; vertical-align: middle; margin-top: -4px; margin-left: -1px;" data-feather="external-link"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/nisanthchunduru" target="_blank">
            GitHub
            <i style="height: 13px; width: 13px; vertical-align: middle; margin-top: -4px; margin-left: -1px;" data-feather="external-link"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nisanthchunduru" target="_blank">
            LinkedIn
            <i style="height: 13px; width: 13px; vertical-align: middle; margin-top: -4px; margin-left: -1px;" data-feather="external-link"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
