<head>
  <title>Nisanth Chunduru</title>
  <link rel="shortcut icon" href="/favicon-a409055.ico">

  <!-- Fonts -->

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/vendor/fonts.css">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <!-- Vendor stylesheets -->

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/vendor/lemonade.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/lemonade-custom.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/message.min.css">

  <!-- Custom stylesheets -->

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/pygments-github.css"> <!-- Custom syntax highlighting -->
</head>
