<html>
  {{ partial "head.html" . }}

  <body>
    <div id="particles"></div>

    {{ partial "header.html" . }}

    <div class="main frame">
      <div class="page bit-60 fade-in-up">
        <div class="ui message" style = "margin-top: 38px;">
          <div class="header">
            Moving to Medium
          </div>
          <p>
            Hey visitor! I've decided to move my blog to <a href="https://medium.com/@nisanth074">Medium</a> to reach out to a larger audience.
            <br>
            <br>
            Please follow me on <a href="https://medium.com/@nisanth074">Medium</a>.</p>
        </div>

        <div class="posts-list">
          {{ range .Data.Pages }}
            {{ if eq .Section "posts"}}
              <div class="post-summary">
                <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                {{ partial "posts/date.html" . }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "foot.html" . }}

    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script>
  </body>
</html>
