<html>
  {{ partial "head.html" . }}

  <body>
    <div class="main">
      {{ partial "header.html" . }}

      <div class="pageContentContainer fadeInUp">
        <div class="postsList">
          {{ range .Data.Pages }}
            {{ if eq .Section "posts"}}
              <div class="postSummary">
                <h1 class="postTitle"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                {{ partial "posts/date.html" . }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "foot.html" . }}
  </body>
</html>
