<html>
  {{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}

    {{ partial "main.html" . }}
      <div class="posts-list">
        {{ range .Data.Pages }}
          {{ if eq .Section "posts"}}
            <div class="post-summary">
              <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
              {{ partial "posts/date.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ partial "main_close.html" }}

    {{ partial "foot.html" . }}
  </body>
</html>
