<html>
  {% render 'head' %}

  <body class="flex flex-col" style="min-height: 100vh;">
    {% render 'header' %}

    <div class="container mx-auto px-4 mt-8 prose sm:prose-lg max-w-none prose-h1:text-center" style="flex: 1">
      <div style="text-align: justify; overflow-wrap: break-word;">{{ html }}</div>
    </div>

    {% render 'footer' %}
  </body>
</html>
